<head>
  <meta charset="utf-8" />
  <title>OA DB Backend</title>
  <h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
  <link rel="stylesheet" href="style.css" type="text/css">

<body>
  	{{{ links_table }}}
  </div>
  <h3 align="center">Add Crew to List</h3>
  <div>
    <form action="/addCrewList" , method="post">
      <table>
        <tr>
          <td><strong>List</strong>
          <td><select name="crewlist_id">
            <option value="">New</option>
              {{{ crewlists }}}
            </select>
        <tr>
          <td><strong>Crew</strong>
          <td><select name="crew_id">
              {{{ crews }}}
            </select>
        <tr>
          <td>
          <td><input type="submit"></input>
      </table>
    </form>
  </div>

  <table id="results"> 
    {{{ results }}}
  </table>

  <br>
  <br>
  </div>
</body>
