<head>
  <meta charset="utf-8" />
  <title>OA DB Backend</title>
  <h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
  <link rel="stylesheet" href="style.css" type="text/css">

<body>
  	{{{ links_table }}}
  </div>
  <h3 align="center">Create New Location</h3>
  <div>
    <form action="/addLocation" , method="post">
      <table>
        <tr>
          <td><strong>City</strong>
          <td><input type="text" value="" name="city" />
        <tr>
          <td><strong>State</strong>
          <td><input type="text" value="" name="state" />
        <tr>
          <td><strong>ZIP</strong>
          <td><input type="number" value="" name="zip" />
        <tr>
          <td><strong>Airport CODE</strong>
          <td><input type="text" value="" name="airport_code" />
        <tr>
          <td>
          <td><input type="submit"></input>
      </table>
    </form>
  </div>

  <table id="results"> 
    {{{ results }}}
  </table>

  <br>
  <br>
  </div>
</body>
