<head>
  <meta charset="utf-8" />
  <title>OA DB Backend</title>
  <h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
  <link rel="stylesheet" href="style.css" type="text/css">

<body>
  	{{{ links_table }}}
  </div>
  <h3 align="center">Create New Route</h3>
  <div>
    <form action="/addRoute" , method="post">
      <table>
        <tr>
          <td><strong>Name</strong>
          <td><input type="text" value="" name="name" />
        <tr>
          <td><strong>Departure</strong>
          <td><select name="departure_location_id">
              {{{ locations }}}
            </select>
        <tr>
          <td><strong>Arrivial</strong>
          <td><select name="arrivial_location_id">
            {{{ locations }}}
            </select>
        <tr>
          <td>
          <td><input type="submit"></input>
      </table>
    </form>
  </div>

  <table id="results"> 
    {{{ results }}}
  </table>

  <br>
  <br>
  </div>
</body>
