<head>
  <meta charset="utf-8" />
  <title>OA DB Backend</title>
  <h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
  <link rel="stylesheet" href="style.css" type="text/css">

<body>
  	{{{ links_table }}}
  </div>
  <h3 align="center">Add Traveler to List</h3>
  <div>
    <form action="/addTravelerList" , method="post">
      <table>
        <tr>
          <td><strong>List</strong>
          <td><select name="travelerlist_id">
            <option value="">New</option>
            {{{ travelerlists }}}
            </select>
        <tr>
          <td><strong>Traveler</strong>
          <td><select name="traveler_id">
            {{{ travelers }}}
            </select>
        <tr>
          <td>
          <td><input type="submit"></input>
      </table>
    </form>
  </div>

  <table id="results"> 
    {{{ results }}}
  </table>

  <br>
  <br>
  </div>
</body>
