<head>
    <meta charset="utf-8" />
    <title>OA DB Backend</title>
	<h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
	<link rel="stylesheet" href="style.css" type="text/css">
<body>
  	{{{ links_table }}}
	</div>
	<h3 align="center">Add Traveler</h3>
	<div>
	<h4>Traveler</h4>
	<form id="addTraveler" action="/addTraveler", method="post">
    <table>
      <tr>
        <td>First
        <td><input type="text" name="firstname"/>
      <tr>
        <td>Last
        <td><input type="text" name="lastname"/>
      <tr>
        <td>
        <td><input type="submit"/>
    </table>
	</form>
	</div>


  <table id="results"> 
    {{{ results }}}
  </table>

</body>
