<head>
    <meta charset="utf-8" />
    <title>OA DB Backend</title>
	<h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
	<link rel="stylesheet" href="style.css" type="text/css">
  <script>

  function hide(elements) {
    for (let i = 0; i < elements.length; i++) {
      elements[i].style.display = 'none';
    }
  }

  function show(elements) {
    for (let i = 0; i < elements.length; i++) {
      elements[i].style.display = '';
    }
  }

  function toggle_class(checkbox_id, class_name) {
    var check = document.getElementById(checkbox_id);
    var cols = document.getElementsByClassName(class_name);
    if (check.checked) {
      show(cols);
    } else {
      hide(cols);
    }
  }

  </script>
<body>
  	{{{ links_table }}}
	</div>
	<h3 align="center">Search Traveler History</h3>


	<div>
	<form id="searchFlight" action="/getFlightInfo", method="post">
    <table>
      <tr>
        <td colspan="2"><center><strong>Show</strong></center>
      <tr>
        <td><input type="checkbox" id="showFlightId" name="showFlightId" onchange="toggle_class('showFlightId','resultsFlightId')" checked/>
        <td><label for="showFlightId">Flight ID</label>
      <tr>
        <td><input type="checkbox" id="showPlaneId" name="showPlaneId" onchange="toggle_class('showPlaneId','resultsPlaneId')" checked/>
        <td><label for="showPlaneId">Plane ID</label>
      <tr>
        <td><input type="checkbox" id="showDepartTimes" name="showDepartTimes" onchange="toggle_class('showDepartTimes','resultsDepartureTime')" checked/>
        <td><label for="showDepartTimes">Proj/Actual Departure Time</label>
      <tr>
        <td><input type="checkbox" id="showArrivalTimes" name="showArrivalTimes" onchange="toggle_class('showArrivalTimes','resultsArrivialTime')" checked/>
        <td><label for="showArrivalTimes">Proj/Actual Arrival Time</label>
      <tr>
        <td><input type="checkbox" id="showRouteId" name="showRouteId" onchange="toggle_class('showRouteId','resultsRouteId')" checked/>
        <td><label for="showRouteId">Route ID</label>
	  <tr>
        <td><input type="checkbox" id="showDepartLoc" name="showDepartLoc" onchange="toggle_class('showDepartLoc','resultsDepartLoc')" checked/>
        <td><label for="showDepartLoc">Departing Airport</label>
	  <tr>
        <td><input type="checkbox" id="showDestLoc" name="showDestLoc" onchange="toggle_class('showDestLoc','resultsDestLoc')" checked/>
        <td><label for="showDestLoc">Destination Airport</label>
      <tr>
        <td colspan="2"><center><strong>Filter</strong></center>
      <tr>
        <td>Traveler
        <td><input type="number" id="travelerName"/>
      <tr>
        <td><input type="checkbox" id="firstClass" name="showFirstClass" checked/>
        <td><label for="firstClass">First Class</label>
      <tr>
        <td><input type="checkbox" id="secondClass" name="showSecondClass" checked/>
        <td><label for="secondClass">Second Class</label>
      <tr>
        <td><input type="checkbox" id="thirdClass" name="showThirdClass" checked/>
        <td><label for="thirdClass">Third Class</label>
      <tr>
        <td>Route
        <td><select name="route_id">
            {{{ routes }}}
            </select>
      <tr>
        <td>
        <td><input type="submit"/>
    </table>
	</form>

  <table id="results"> 
    <tr>
      <td class="resultsFlightId">FlightID
      <td class="resultsPlaneId">PlaneID
      <td class="resultsDepartureTime">DepartureTime
      <td class="resultsArrivialTime">ArrivialTime
      <td class="resultsRouteId">RouteID
  	  <td class="resultsDepartLoc">DepartingAirport
  	  <td class="resultsDestLoc">DestinationAirport
      <td class="resultsTravelerId">TravelerID
      <td class="resultsSeatClass">SeatClass
    <tr>
      <td class="resultsFlightId">EXAMPLE
      <td class="resultsPlaneId">EXAMPLE
      <td class="resultsDepartureTime">EXAMPLE
      <td class="resultsArrivialTime">EXAMPLE
      <td class="resultsRouteId">EXAMPLE
  	  <td class="resultsDepartLoc">EXAMPLE
  	  <td class="resultsDestLoc">EXAMPLE
      <td class="resultsTravelerId">EXAMPLE
      <td class="resultsSeatClass">EXAMPLE
    <tr>
      <td class="resultsFlightId">0
      <td class="resultsPlaneId">100
      <td class="resultsDepartureTime">EXAMPLE
      <td class="resultsArrivialTime">EXAMPLE
      <td class="resultsRouteId">3
  	  <td class="resultsDepartLoc">PDX
  	  <td class="resultsDestLoc">SFO
      <td class="resultsTravelerId">7
      <td class="resultsSeatClass">2
  </table>

	</div>

  <script>
    toggle_class('showFlightId','resultsFlightId');
    toggle_class('showPlaneId','resultsPlaneId');
    toggle_class('showDepartTimes','resultsDepartureTime');
    toggle_class('showArrivalTimes','resultsArrivialTime');
    toggle_class('showRouteId','resultsRouteId');
  </script>
</body>
