<head>
    <meta charset="utf-8" />
    <title>OA DB Backend</title>
	<h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
<body>
	<table id="linkMenu">
		<tr>
			<th><a class="linkRef" href="/" id="homeLink">Home</a></th>
			<th><a class="linkRef" href="/addFlight" id="addLink">Add Flight</a></th>
			<th><a class="linkRef" href="/getFlightInfo" id="searchLink">Search Flights</a></th>
			<th><a class="linkRef" href="/addTraveler" id="travelLink">Book Traveler</a></th>
			<th><a class="linkRef" href="/removeTraveler" id="travelLink">Cancel Traveler</a></th>
			<th><a class="linkRef" href="/updateFlight" id="updateLink">Update Flight</a></th>
		</tr>
	</table>
	</div>
	<h3 align="center">Search Flights</h3>
	<div>
	<form id="searchFlight" action="/getFlightInfo", method="post">
    <table>
      <tr>
        <td colspan="2"><center><strong>Show</strong></center>
      <tr>
        <td><input type="checkbox" id="showFlightId" name="showFlightId" checked/>
        <td><label for="showFlightId">Flight ID</label>
      <tr>
        <td><input type="checkbox" id="showPlaneId" name="showPlaneId" checked/>
        <td><label for="showPlaneId">Plane ID</label>
      <tr>
        <td><input type="checkbox" id="showDepartTimes" name="showDepartTimes" checked/>
        <td><label for="showDepartTimes">Proj/Actual Departure Time</label>
      <tr>
        <td><input type="checkbox" id="showArrivalTimes" name="showArrivalTimes" checked/>
        <td><label for="showArrivalTimes">Proj/Actual Arrival Time</label>
      <tr>
        <td><input type="checkbox" id="showRouteId" name="showRouteId" checked/>
        <td><label for="showRouteId">Route ID</label>
      <tr>
        <td colspan="2"><center><strong>Filter</strong></center>
      <tr>
        <td>Traveler
        <td><input type="text" id="travelerName"/>
      <tr>
        <td><input type="checkbox" id="firstClass" name="firstClass" checked/>
        <td><label for="firstClass">First Class</label>
      <tr>
        <td><input type="checkbox" id="secondClass" name="secondClass" checked/>
        <td><label for="secondClass">Second Class</label>
      <tr>
        <td><input type="checkbox" id="thirdClass" name="thirdClass" checked/>
        <td><label for="thirdClass">Third Class</label>
      <tr>
        <td>Route ID
        <td><input type="text" value="1" id="routeId"/>
      <tr>
        <td>
        <td><input type="submit"/>
    </table>

	</form>
	</div>
</body>
