<head>
    <meta charset="utf-8" />
    <title>OA DB Backend</title>
	<h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
<body>
	<table id="linkMenu">
		<tr>
			<th><a class="linkRef" href="./" id="homeLink">Home</a></th>
			<th><a class="linkRef" href="./addFlight" id="addLink">Add Flight</a></th>
			<th><a class="linkRef" href="./getFlightInfo" id="searchLink">Search Flights</a></th>
			<th><a class="linkRef" href="./addTraveler" id="travelLink">Book Traveler</a></th>
			<th><a class="linkRef" href="./removeTraveler" id="travelLink">Cancel Traveler</a></th>
			<th><a class="linkRef" href="./updateFlight" id="updateLink">Update Flight</a></th>
		</tr>
	</table>
	</div>
	<br>
	<h3 align="center">Airline DB landing page</h3>
	<div id="info">
		Welcome to the Oregone Airlines backend administration page.
		Please select a link from above to affect the database.
	</div>
</body>
