<head>
    <meta charset="utf-8" />
    <title>OA DB Backend</title>
	<h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
	<link rel="stylesheet" href="style.css" type="text/css">
<body>
  	{{{ links_table }}}
	</div>
	<h3 align="center">Remove Traveler From Flight</h3>
	<div>
	<h4>Traveler</h4>
	<form id="removeTraveler" action="/removeTraveler", method="post">
    <table>
      <tr>
        <td>Travelers
        <td><select name="traveler_id">
          {{{ travelers }}}
        </select>
      <tr>
        <td>Flight ID
        <td><select name="flight_id">
          {{{ flights }}}
        </select>
      <tr>
        <td>
        <td><input type="submit"/>
    </table>
	</form>
	</div>


  <table id="results"> 
    {{{ results }}}
  </table>

</body>
