<head>
    <meta charset="utf-8" />
    <title>OA DB Backend</title>
	<h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
	<link rel="stylesheet" href="style.css" type="text/css">
<body>
  	{{{ links_table }}}
	</div>
	<h3 align="center">Update Flight</h3>
	<div>
	<form id="updateFlight" action="/updateFlight", method="post">
    <table>
      <tr>
        <td>FlightID
        <td><input type="text" value="1" id="flightId"/>
      <tr>
        <td>PlaneID
        <td><input type="text" id="planeId"/>
      <tr>
        <td>Depart Date
        <td><input type="datetime-local"id="departDate"/>
      <tr>
        <td>Arrival Date
        <td><input type="datetime-local" id="arrivalDate"/>
      <tr>
        <td>Captain
        <td><input type="text" id="crewIdOne"/>
      <tr>
        <td>CoPilot
        <td><input type="text" id="crewIdTwo"/>
      <tr>
        <td>Steward
        <td><input type="text" id="crewIdThree"/>
      <tr>
        <td>
        <td><input type="submit"/>
    </table>
	</form>
	</div>


  <table id="results"> 
  </table>

</body>
