<head>
    <meta charset="utf-8" />
    <title>OA DB Backend</title>
	<h1 align="center">OREGONE AIRLINES DB ADMIN PAGE</h1>
	<link rel="stylesheet" href="style.css" type="text/css">
<body>
  	{{{ links_table }}}
	</div>
	<h3 align="center">Update Flight</h3>
	<div>
	<form action="/updateFlight", method="post">
    <table>
      <tr>
        <td>FlightID
        <td><select name="flight_id">
            <option value="1">1</option>
            {{{ flights }}}
            </select>
      <tr>
        <td>PlaneID
        <td><input type="number" name="plane_id"/>
      <tr>
        <td>Depart Time
        <td><input type="time" name="depart_time"/>
      <tr>
        <td>Arrival Time
        <td><input type="time" name="arrival_time"/>
      <tr>
        <td>Depart Date
        <td><input type="date" name="depart_date" />
      <tr>
        <td>Arrival Date
        <td><input type="date" name="arrival_date" />
      <tr>
        <td>
        <td><input type="submit"/>
    </table>
	</form>
	</div>


  <table id="results"> 
      {{{ results }}}
  </table>

</body>
